$base-text-color: black
$background-color: #F4F3EE  // pampas-tan
$border-color: #727B84      // blue-gray
$font-shadow: #D9E2E1       // pale green-gray
$header-color: #555C63      // dark-blue-gray
$link-color: #719994        // green-gray
$meta-color: #827259        // brown
$topbar-background-color: $border-color
$topbar-text-color: #CFCAAB // tinged-cardamom

$active-link-color: darken($link-color, 20%)
$hover-link-color: lighten($link-color, 15%)
$topbar-hover-color: lighten($topbar-text-color, 12%)
$visited-link-color: darken($link-color, 5%)
