@import "colors.sass"
@import "mixins.sass"

// Variables

$background-image: "bg_pods.png"
$topbar-width: 100%
$container-width: 80%

// Reset

*
  margin: 0
  padding: 0

// Typography

@font-face
  font-family: "PT-Sans"
  src: url('/PTS55F.ttf')
  src: local('PTS55F')
  src: url('/PTS55F.ttf') format('truetype')

@mixin text-shadow
  text-shadow: 0 2px 3px $font-shadow

body
  background: $background-color
  background-image: url($background-image)
  background-repeat: repeat-y
  color: $base-text-color
  font-family: Georgia, serif
  line-height: $vertical-rhythm
  @media only screen and (max-width: 600px)
    background-image: none

h1, h2, h3, h4, h5, h6
  font-family: PT-Sans, Verdana, sans-serif
h1, h2, h3
  font-weight: normal
  color: $header-color
h1
  @include adjust-font-size($h1-scale, 0.6, 0.4)
h2
  @include adjust-font-size($h2-scale, 0.8, 0.5)
h3
  @include adjust-font-size($h3-scale, 1.4, 0.5)
h4
  @include adjust-font-size($h4-scale, 1.8, 0)

ol, pre, ul
  margin-bottom: $base-vertical-margin

blockquote
  margin: $base-vertical-margin 0
  padding: 0 $base-vertical-margin
  font-style: italic
  color: $base-text-color + #555
  
pre
  padding: ($vertical-rhythm / 2) 1em
  overflow: auto

img
  border: none

// The visuals

a
  border-bottom: none
  text-decoration: none
  color: $link-color
  @include transition(color 0.25s 0 ease)
  &:visited
    color: $visited-link-color
    border-bottom-color: $visited-link-color
  &:hover
    color: $hover-link-color
    border-bottom-color: $hover-link-color
  &:active
    color: $active-link-color
    border-bottom-color: $active-link-color

// Layout

#topbar
  @include adjust-font-size(1.08)
  background: $topbar-background-color
  border-width: 1px
  font-family: Verdana, Helvetica, sans-serif
  font-weight: none
  height: 1.8em
  margin: 0 auto 0
  text-align: center
  width: $topbar-width
  min-width: 32em
  padding-top: .2em
  a, li, ul
    background: $topbar-background-color
  a
    color: $topbar-text-color
    &:hover
      color: $topbar-hover-color
      border-bottom-color: $topbar-hover-color
  li
    display: inline
    list-style: none
    padding-right: .3em
  li.first
    a
      color: $topbar-hover-color
  ul
    margin: 0

#container
  width: $container-width
  @media only screen and (max-width: 600px)
    width: 100%
  max-width: 58em
  min-width: 32em
  margin: 0 auto
  padding: 0 1em 0 1em

  #content
    @include adjust-font-size(0.9, 0, 0)
    min-width: 21em
    max-width: 100%
    width: $container-width
    float: right
    @media only screen and (max-width: 600px)
      float: none
    padding: 0 0 0 0
    img   
      border-color: $border-color
      border-style: solid
      border-width: 1px
      max-width: 100%
      vertical-align: top
    code
      padding: 1px 3px
    pre
      border-left: 1px dashed $border-color
      code
        padding: 0
    table, td, th
      border: 1px solid
      padding: 1px
      text-align: center

footer
  clear: both
  color: $meta-color
  font-family: PT-Sans, Verdana, sans-serif
  margin: 0
  padding: $vertical-rhythm 0 0 0
  text-align: center
  @include adjust-font-size($base-scale)
