@import "mixins.sass"

// Reset

*, body, h1, h2, h3, h4, a
  color: black

// Typography

body
  background: white
  background-image: none
  font-family: Georgia, serif

h1
  @include adjust-font-size($h1-scale, 0.7, 0.5)
h2
  @include adjust-font-size($h2-scale, 1, 0.6)
h3
  @include adjust-font-size($h3-scale, 1.4, 0.6)
h4
  @include adjust-font-size($h4-scale, 1.8, 0.1)

// The visuals

a
  border-bottom: solid
  border-bottom-color: gray
  border-bottom-width: 1px

img
  display: none

// Layout

#container
  max-width: 100%
  min-width: 32em
  margin: 0 1em 0 1em
  overflow: visible
